.modal-content {
    margin-top: 45px;
    width: 100% !important;
    position: fixed !important;
    border: 1px solid;
}

.mostrar {
    display: list-item !important;
    opacity: 1 !important;
    position: fixed !important;
    background-color: #3c29297a !important;
}

body {
    background: #355C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.div-error {
    display: flex;
    justify-content: center;
}

.text-error {
    color: red !important;
}

.fechaEdit {
    font-size: 10px;
}